<?xml version="1.0" encoding="utf-8"?>
<!--
CSClock - a program which keeps track of your computer time
Copyright (C) 2017  Viktor J

This program is free software: you can redistribute it and/or modify
it under the terms of the GNU General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with this program.  If not, see <http://www.gnu.org/licenses/>.
-->


<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="CSClock.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2"/>
    </startup>
    <userSettings>
        <CSClock.Properties.Settings>
            <setting name="configured" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="maximumHoursMon" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="maximumHoursTue" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="maximumHoursWed" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="maximumHoursThu" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="maximumHoursFri" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="maximumHoursSat" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="maximumHoursSun" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="overtimeMinutes" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="timerEnabled" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="secondsElapsed" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="secondsElapsedDateTime" serializeAs="String">
                <value />
            </setting>
            <setting name="pauseResumeTimerOnComputerLockUnlock" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="upgradeRequired" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="guiTopMost" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="maximumMinutesOvertime" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="overtimeDateTime" serializeAs="String">
                <value />
            </setting>
            <setting name="timerPaused" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="selectedLanguage" serializeAs="String">
                <value>English</value>
            </setting>
            <setting name="closeNoticeFirstTime" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="autoUpdate" serializeAs="String">
                <value>True</value>
            </setting>
        </CSClock.Properties.Settings>
    </userSettings>
</configuration>
